body {
    margin: 0 150px;
    background: rgb(230, 225, 225);
}

html {
    width: 100vw;
    font-family: sans-serif;
}

.card {
    width: 700px;
    background: rgb(255, 255, 255);
    margin: 16px auto;
    padding: 9px;
}

h1 {
    text-align: center;
    background-color: rgb(247, 197, 117);
    margin-top: 0;
    padding: 8px;
}

.linklist {
    display: inline-flex;
    list-style-type: none;
}